autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.7
chevron==0.14.0
docker==5.0.3
gitdb==4.0.9
GitPython==3.1.24
grpcio==1.42.0
grpcio-reflection==1.42.0
grpcio-tools==1.42.0
idna==3.3
ifaddr==0.1.7
protobuf==3.19.1
psycopg2==2.9.2
pycodestyle==2.8.0
requests==2.26.0
six==1.16.0
smmap==5.0.0
toml==0.10.2
typing-extensions==4.0.0
urllib3==1.26.7
websocket-client==1.2.1
zeroconf==0.37.0
